! special
*.foreground:   #e8f5fa
*.background:   #21252b
*.cursorColor:  #e8f5fa

! black
*.color0:       #21252b
*.color8:       #aab7c2

! red
*.color1:       #fa3467
*.color9:       #fa3467

! green
*.color2:       #82ef79
*.color10:      #82ef79

! yellow
*.color3:       #fbb049
*.color11:      #fbb049

! blue
*.color4:       #3d3d48
*.color12:      #5582e7

! magenta
*.color5:       #c088f0
*.color13:      #c088f0

! cyan
*.color6:       #7bd4f0
*.color14:      #7bd4f0

! white
*.color7:       #e8f5fa
*.color15:      #f3faff
